.skills {
  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  width: 50%;
  margin-left: 26%;
  margin-bottom: 40px;
  border-radius: 40px;
  border-color: #F06000;
  border-width: 1px;
  border-style: solid;
}

.skills h2 {
	font-size: 45px;
  text-align: center;
  color: #fff;
	font-weight: 700;
}

.skills p {
  color: #A8A8A8;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 1.7em;
  margin: 13px 0 60px 0;
}
.carousel {
  width: 40%;
  margin: 0 auto;
}
.carousel .item img {
  width: 30%;
  margin: 0 auto 15px auto;
}

.carousel .item h5 {
  color:#A8A8A8;
  font-size: 40px;
}

@media (max-width: 800px) {

  .skills {
    padding-top: 250px;
    padding-bottom: 240px;
  }

    .title {
      width: 100%;
      padding-left: 10%;
      margin-left: 150px;
    }

    .skills h2 {
      padding-right: 7%;
      margin-right: 100px;
    }

    .skills p {
      font-weight: 600;
      font-size: 20px;
      padding-right: 8%;
      margin-right: 60px;
    }

    .carousel {
      width: 100%;
      padding-top: 90px;
      padding-left: 100px;
      margin-left: 50px;
    }
    .carousel .item img {
      width: 70%;
    }
}

@media (max-width: 400px) {

  .skills {
    padding-top: 300px;
    padding-bottom: 240px;

    }

    .title {
      width: 120%;
      padding-left: 9%;
      margin-left: 180px;
    }

    .skills h2 {
      padding-left: 12%;

    }
    .skills p {
      padding-left: 2%;

    }

    .carousel {
      width: 100%;
      padding-top: 90px;
      padding-left: 110px;
      margin-left: 50px;
    }
  }